{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="container-fluid content">
  <div class="row">
    <div class="col text-center m-3">
      <h2 class="display-4">{{ post.title }}</h2>
    </div>
  </div>
{% endblock %}
<!-- blog posts displayed in cards -->
{% block content %}
<div class="container">
	<div class="row d-flex justify-content-center ">
		<div class="col-sm-12 d-flex justify-content-center px-0">
			<div class="w-50 card border-dark mb-3 text-center">
				<p>{{ post.author }}</p>
				<p>{{ post.body }}</p>
			</div>
		</div>
		<a href="{% url 'blog' %}" class="btn border-dark rounded">Go Back</a>
		<form action="{% url 'like-post' post.pk %}" method="POST">
			{% csrf_token %}
			<button type="submit" name="post_id" value="{{ post.id }}" class="btn border-dark rounded">Like</button>
			- {{ total_likes }} Likes
		</form>
	</div>
</div>
</div>
{% endblock %}