html, body {
  height: 100%;
}

body{
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 100%;
    background-color:	#c0dfe6;
}


/*............................................................................. navbar */
.nav-color{
    background-color: #2E56AC;
}


/*............................................................................. footer */
.footer{
    background-color:	#194e77;
    flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}


/*............................................................................. regions */
.zoom:hover {
    transform: scale(1.3);
}


/*............................................................................. shopping bag */
.remove-item{
    cursor: pointer;
    font-size: 0.5rem;}


/*............................................................................. media queries */
@media only screen and (max-width: 414px) {
.bag{
    width: 23rem;
    }
.remove{
    font-size: 1rem;}
}


@media only screen and (max-width: 360px) {
.bag{
    width: 21rem;
    }
.remove{
    font-size: 0.75rem;}
}

@media only screen and (min-width: 768px) {
.shopping{
    width: 40rem;
}}

@media only screen and (min-width: 768px) {
.allauth-width{
    max-width: 30rem;
}}