html, body {
  height: 100%;
}

body{
    padding-top: 65px;
    height: 100%;
      display: flex;
  flex-direction: column

}

.nav-color{
    background-color:#52719f;
}

.map-container {
    width: 23rem;
    height: 23rem;
    border: black solid 0.05rem;
}

.map {
    background-size: contain;
    width: 14rem;
    height: 14rem;
    border-radius: 20rem;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer{
    background-color:#52719f;
    flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}