
.map-container {
  width: 23rem;
  height: 23rem;
border: black solid 0.05rem;

}

.map {
background-size: contain;
width: 14rem;
height: 14rem;
border-radius: 20rem;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-footer{
    background-color:#52719f;
}



