html, body {
  height: 100%;
}

body{
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    background: url('/media/background/wooden_2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;

}

/*............................................................................. home page(regions) */
/* .map-container {
    width: 10rem;
    height: 10rem;
    background-color: 	#01c5c300; */
}


/*............................................................................. bean detail page */
.size-options{
    background-color: #ffffffa0;
}

/*............................................................................. nav bar */
.nav-color{
    background-color: 	#c50103;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.corners {
    border-radius: 0.2rem;
}

.footer{
    background-color:	#194e77;
    flex-shrink: 0;
    /* color: white; */
}

.content {
  flex: 1 0 auto;
}

.zoom {
  /* padding: 50px; */
  transition: transform .1s;
  width: 300px;

  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}
