{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" type="text/css" />    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>  
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Coffee Choices</title>
    
    </head>

    <body>
   <header>
      <nav class="navbar-expand-lg navbar-light nav-color fixed-top">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="main-nav">
            <a class="container navbar-brand d-none d-sm-block" href="#">Coffee Choices
            <i class="fas fa-mug-hot"></i></a>
            <div class="container d-flex justify-content-center">
               <ul class="navbar-nav">
                  <li class = "nav-item dropdown">
                     <a class="nav-link" href="#" id="regions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy Coffee Beans</a>
                      <div class="dropdown-menu border-0">
                         <a href="{% url 'countries' %}?category=all" class="dropdown-item">All</a>
                         <a href="{% url 'countries' %}?category=south_america" class="dropdown-item">South America</a>
                         <a href="{% url 'countries' %}?category=asia" class="dropdown-item">Asia</a>
                         <a href="{% url 'countries' %}?category=africa" class="dropdown-item">Africa</a>
                         <a href="{% url 'countries' %}?category=north_america" class="dropdown-item">North America</a>
                     </div>                      
                     </li>
               </ul>
            </div>
            <div class="container">
               <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                  <li class = "nav-item dropdown my-auto">
                     <a class="nav-link" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile</a>
                    <div class="dropdown-menu border-0">
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </li>
                  {% else %}
                  <li>
                     <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                  </li>
                  <li>
                     <a class="nav-link" href="{% url 'account_signup'%}">Register</a>
                  </li>
                  {% endif %}
                  <li>
                     <a class="nav-link my-auto" href="{% url 'view_shopping_bag' %}">
                        <span class="my-auto">Shopping Bag <i class="fas fa-shopping-cart"></i></span>
                        <p class="my-auto">Current Total £{{ grand_total }}</p>
                     </a>
                  </li>                    
               </ul>
            </div>
         </div>
      </nav>
   </header>

    {% block page_header %}
    {% endblock %}

   {% block content %}
   {% endblock %}

<div class="container-fluid p-0">
<footer class="footer p-4">
      <div class="row">
         <div class="col-6">
            <h6 class="text-center">About</h6>
            <p>
               This website has been designed to sell coffee beans, dependent on regions of origin. Please contact site owner via
               email for any feedback or comments!
            </p>
         </div>
         <div class="col-6">
            <h6 class="text-center">Contact</h6>
                <ul class="no-bullets">
                    <li>
                        <i class="fas fa-mug-hot"></i>  Address: 1 Coffee St, Coffee Town CO11 0FE
                    </li>
                    <li> 
                        <i class="fas fa-mug-hot"></i>  Phone: 0131 555 5555
                    </li>
                    <li>
                        <i class="fas fa-mug-hot"></i>  Email: coffee@allthingscoffee.com
                    </li>
                </ul>
         </div>
      </div>
   <hr>
   <div class="container text-center">
      © 2020 For Educational Purposes
   </div>

</footer>
</div>
{% if messages %}
    <div class="message-container"></div>
    {% endif %}
    {% block postloadjs %}
    {% endblock %}
</body>
</html>