{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="container-fluid content">
  <div class="row">
    <div class="col text-center m-3">
      <h2 class="display-3">Coffee Bag Options</h2>
    </div>
  </div>
{% endblock %}
{% block content %}
<div class="container w-75">
   {% for bean in bean %}
   <div class="row border border-dark rounded my-3 p-4 h-100 size-options  ">
      <div class="col-3 my-auto">
         <h5 class>{{ bean.friendly_name}}</h5>
      </div>
      <div class="col-3 my-auto">
         <p>Price: £{{ bean.price }}</p>
      </div>
      <div class="col-6">
         <form class="form my-auto" action="{% url 'add_to_shopping_bag' bean.id %}" method="POST">
            {% csrf_token %}          
            <div class="form-group mb-0 h-100">
               <div class="input-group w-50 h-100">
                  <p class="my-auto">Quantity:</p>
                  <input class="form-control qty_input text-center mx-2" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ bean.id }}" id="id_qty_{{ bean.id }}">
                  <button type="submit" class="btn btn-sm ">Add to Basket</button>
               </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
         </form>
      </div>
   </div>

   {% endfor %}

</div>
</div>
{% endblock %}
