{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center m-3">
      <h2 class="display-3">Coffee Beans</h2>
    </div>
  </div>
<!-- Beans products displayed in cards -->
<div class="container">
  <div class="row ">
    {% for beans in beans %}
    <div class="col-sm-4 d-flex justify-content-center px-0">
      <div class="w-50 card border-dark mb-3 text-center">
        <a href="{% url 'bean_detail' beans.id %}" target="_blank">
          <img class="card-img-top img-fluid" src="{{ beans.image.url }}" alt="{{ beans.country }}"/>
        </a>
        <h5>{{ beans.country }}</h5>
        <p>{{ beans.description }}</p>
        <small class="text-muted"
          ><i class="fas fa-star mr-1"></i>{{ beans.strength }} / 5</small>
        <p>£{{ beans.price }}</p>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</div>
</div>