{% extends "base.html" %} {% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center m-3">
      <h2 class="display-3">Countries of Origin</h2>
    </div>
  </div>
<!-- countries products displayed in cards -->
<div class="container">
  <div class="row ">
    {% for countries in countries %}
    <div class="col-sm-4 d-flex justify-content-center px-0">
      <div class="w-50 card border-dark mb-3 text-center">
<h5>{{ countries.friendly_name }}</h5>
        <a href="{% url 'bean_detail' countries.id %}" target="_blank">
          <img class="card-img-top img-fluid" src="{{ countries.image.url }}" alt="{{ countries.country_name }}"/>
        </a>
        <p>{{ countries.description }}</p>
            </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</div>
</div>