{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="container content">
  <div class="row">
    <div class="col text-center m-3">
      <h2 class="display-3">Coffee Choices</h2>
    </div>
<p>This is the site for coffee enthusiasts who like to try out new flavours and intensities! 
You might already have a favourite coffee and fancy trying a different bean from the same region,
same intensity from a different region, or something new altogether! </p>
  </div>
{% endblock %}
{% block content %}
<!-- regions products displayed in cards -->
<div class="container">
	<div class="row ">
		{% for region in regions %}
		<div class="col-6 d-flex justify-content-center px-0 mb-3">
			<div class="rounded-circle map-container border-dark text-center d-flex justify-content-center">
				<div class="map m-auto">
					<h5>{{ region.friendly_name }} </h5>
					<a href="{% url 'countries_by_region' region.id %}" target="_blank">
						<img class="img-fluid test2" src="{{ region.image.url }}" alt="{{ region.country_name }}"/></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}